<!--
<input type = "text" [(ngModel)] = "name">
<p>{{name}}</p>

<example-component [name] ="name"></example-component>
-->
<div class="container">
  <div class="col text-center">
<h1>Waterfool</h1>
</div></div>
<div class="col text-right">
 <span class="glyphicon glyphicon-log-out" (click)= "logoutFunction()"></span>
</div>

<br>
<hr>
<div class="container">
  <div class="containers">
      <div class="col text-center">
        <router-outlet></router-outlet>
      </div>
      </div>
</div>
        <!-- <app-http-component></app-http-component> -->
<!-- <app-http-component></app-http-component> -->


<div id="mySidenav" class="sidenav">
  <a routerLink="/" id="about">Home</a>
  <a routerLink="/login" id="login">Login</a>
  <a routerLink="/operation" id="blog">Operazioni</a>
  <a routerLink="/nuovoDispositivo" id="projects">Nuovo dispositivo</a>
  <a routerLink="/waterfoolSensor" id="waterfool">Sensor</a>
  <a routerLink="/waterfoolDevice" id="device">Device</a>
</div>
